arxiv
# SQLModel 0.0.14+ 版本才支持 Pydantic V2，这里我们显式指定
sqlmodel>=0.0.16 
pydantic>=2.0.0
psycopg2-binary
pgvector
nest_asyncio


# AI 依赖 (LlamaIndex 现在默认就是 V2)
langchain-deepseek
llama-index
llama-index-embeddings-openai
llama-parse
python-dotenv
langchain-core
langchain-openai
langgraph

#Agent Tracing:langGraph Studio
langgraph-cli[inmem] 

#latex
jinja2